In [1]:
import pandas as pd

df = pd.read_csv("E:\\Download\\data.csv")
#In interactive environments, displays DataFrame in a potentially more formatted way.
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [2]:
import pandas as pd
df = pd.read_csv("E:\\Download\\data.csv")
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [5]:
df = pd.read_csv("E:\\Download\\data.csv", nrows=5)
df

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [6]:
df = pd.read_csv("E:\\Download\\data.csv", nrows=1)
df

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1

In [3]:
df = pd.read_csv("E:\\Download\\data.csv")
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [24]:
df = pd.read_csv("E:\\Download\\data.csv", usecols=["Calories"])
print(df.to_string())

     Calories
0       409.1
1       479.0
2       340.0
3       282.4
4       406.0
5       300.0
6       374.0
7       253.3
8       195.1
9       269.0
10      329.3
11      250.7
12      345.3
13      379.3
14      275.0
15      215.2
16      300.0
17        NaN
18      323.0
19      243.0
20      364.2
21      282.0
22      300.0
23      246.0
24      334.5
25      250.0
26      241.0
27        NaN
28      280.0
29      380.3
30      243.0
31      180.1
32      299.0
33      223.0
34      361.0
35      415.0
36      300.0
37      300.0
38      300.0
39      266.0
40      180.1
41      286.0
42      329.4
43      400.0
44      397.0
45      273.0
46      387.6
47      300.0
48      298.0
49      397.6
50      380.2
51      643.1
52      263.0
53      486.0
54      238.0
55      450.7
56      413.0
57      305.0
58      226.4
59      321.0
60     1376.0
61     1034.4
62      853.0
63      341.0
64      131.4
65      800.4
66      873.4
67      816.0
68      110.4
69     1500.2
70     1115.0
71      387.6
72      700.0
73      953.2
74      304.0
75      563.2
76      251.0
77      300.0
78      500.4
79     1729.0
80      319.2
81      344.0
82      151.1
83      500.0
84      225.3
85      300.0
86      234.0
87     1000.1
88      242.0
89       50.3
90      600.1
91        NaN
92      105.3
93       50.5
94      127.4
95      229.4
96      128.2
97      244.2
98      188.2
99      604.1
100      77.7
101     500.0
102     500.0
103     500.4
104      92.7
105     124.0
106     800.3
107      86.2
108     500.3
109    1860.4
110     325.2
111     275.0
112     124.2
113     225.3
114     367.6
115     351.7
116     443.0
117     277.4
118       NaN
119     332.7
120     193.9
121     100.7
122     336.7
123     344.9
124     368.5
125     271.0
126     275.3
127     382.0
128     466.4
129     384.0
130     342.5
131     357.5
132     335.0
133     327.5
134     339.0
135     189.0
136     317.7
137     318.0
138     308.0
139     222.4
140     390.0
141       NaN
142     250.4
143     335.4
144     470.2
145     270.8
146     400.0
147     361.9
148     185.0
149     409.4
150     343.0
151     353.2
152     374.0
153     275.8
154     328.0
155     368.5
156     270.4
157     270.4
158     382.8
159     240.9
160     250.4
161     260.4
162     270.0
163     280.9
164     290.8
165     300.0
166     310.2
167     320.4
168     330.4

The loop (for y in x) directly prints each value, so only the values appear, not the indices.
Single Column: When you are dealing with only one column (like in your last example with just Calories), dropna() automatically applies to that column, so no subset is necessary.

In [26]:
df = pd.read_csv("E:\\Download\\data.csv", usecols=["Calories"])
x = df["Calories"].dropna()
for y in x:
    print(y)

409.1
479.0
340.0
282.4
406.0
300.0
374.0
253.3
195.1
269.0
329.3
250.7
345.3
379.3
275.0
215.2
300.0
323.0
243.0
364.2
282.0
300.0
246.0
334.5
250.0
241.0
280.0
380.3
243.0
180.1
299.0
223.0
361.0
415.0
300.0
300.0
300.0
266.0
180.1
286.0
329.4
400.0
397.0
273.0
387.6
300.0
298.0
397.6
380.2
643.1
263.0
486.0
238.0
450.7
413.0
305.0
226.4
321.0
1376.0
1034.4
853.0
341.0
131.4
800.4
873.4
816.0
110.4
1500.2
1115.0
387.6
700.0
953.2
304.0
563.2
251.0
300.0
500.4
1729.0
319.2
344.0
151.1
500.0
225.3
300.0
234.0
1000.1
242.0
50.3
600.1
105.3
50.5
127.4
229.4
128.2
244.2
188.2
604.1
77.7
500.0
500.0
500.4
92.7
124.0
800.3
86.2
500.3
1860.4
325.2
275.0
124.2
225.3
367.6
351.7
443.0
277.4
332.7
193.9
100.7
336.7
344.9
368.5
271.0
275.3
382.0
466.4
384.0
342.5
357.5
335.0
327.5
339.0
189.0
317.7
318.0
308.0
222.4
390.0
250.4
335.4
470.2
270.8
400.0
361.9
185.0
409.4
343.0
353.2
374.0
275.8
328.0
368.5
270.4
270.4
382.8
240.9
250.4
260.4
270.0
280.9
290.8
300.0
310.2
320.4
330.4

Two or More Columns: When you have multiple columns but want to drop rows based on all those columns, you can call dropna() without subset since it checks all specified columns by default.

In [27]:
df = pd.read_csv("E:\\Download\\data.csv", usecols=["Calories", "Pulse"])
x = df.dropna()
print(x.to_string())

     Pulse  Calories
0      110     409.1
1      117     479.0
2      103     340.0
3      109     282.4
4      117     406.0
5      102     300.0
6      110     374.0
7      104     253.3
8      109     195.1
9       98     269.0
10     103     329.3
11     100     250.7
12     106     345.3
13     104     379.3
14      98     275.0
15      98     215.2
16     100     300.0
18     103     323.0
19      97     243.0
20     108     364.2
21     100     282.0
22     130     300.0
23     105     246.0
24     102     334.5
25     100     250.0
26      92     241.0
28     100     280.0
29     102     380.3
30      92     243.0
31      90     180.1
32     101     299.0
33      93     223.0
34     107     361.0
35     114     415.0
36     102     300.0
37     100     300.0
38     100     300.0
39     104     266.0
40      90     180.1
41      98     286.0
42     100     329.4
43     111     400.0
44     111     397.0
45      99     273.0
46     109     387.6
47     111     300.0
48     108     298.0
49     111     397.6
50     107     380.2
51     123     643.1
52     106     263.0
53     118     486.0
54     136     238.0
55     121     450.7
56     118     413.0
57     115     305.0
58     153     226.4
59     123     321.0
60     108    1376.0
61     110    1034.4
62     109     853.0
63     118     341.0
64     110     131.4
65      90     800.4
66     105     873.4
67     107     816.0
68     106     110.4
69     108    1500.2
70      97    1115.0
71     109     387.6
72     100     700.0
73      97     953.2
74     114     304.0
75      98     563.2
76     105     251.0
77     110     300.0
78     100     500.4
79     100    1729.0
80     159     319.2
81     149     344.0
82     103     151.1
83     100     500.0
84     100     225.3
85     151     300.0
86     102     234.0
87     100    1000.1
88     129     242.0
89      83      50.3
90     101     600.1
92      90     105.3
93      80      50.5
94     150     127.4
95     151     229.4
96      95     128.2
97     152     244.2
98     109     188.2
99      93     604.1
100     95      77.7
101     90     500.0
102     90     500.0
103     90     500.4
104     92      92.7
105     93     124.0
106     90     800.3
107     90      86.2
108     90     500.3
109    137    1860.4
110    102     325.2
111    107     275.0
112    124     124.2
113    100     225.3
114    108     367.6
115    108     351.7
116    116     443.0
117     97     277.4
119    103     332.7
120    112     193.9
121    100     100.7
122    119     336.7
123    107     344.9
124    111     368.5
125     98     271.0
126     97     275.3
127    109     382.0
128     99     466.4
129    114     384.0
130    104     342.5
131    107     357.5
132    103     335.0
133    106     327.5
134    103     339.0
135    136     189.0
136    117     317.7
137    115     318.0
138    113     308.0
139    141     222.4
140    108     390.0
142    100     250.4
143    122     335.4
144    136     470.2
145    106     270.8
146    107     400.0
147    112     361.9
148    103     185.0
149    110     409.4
150    106     343.0
151    109     353.2
152    109     374.0
153    150     275.8
154    105     328.0
155    111     368.5
156     97     270.4
157    100     270.4
158    114     382.8
159     80     240.9
160     85     250.4
161     90     260.4
162     95     270.0
163    100     280.9
164    105     290.8
165    110     300.0
166    115     310.2
167    120     320.4
168    125     330.4

In [29]:
df1 = pd.read_csv("E:\\Download\\data.csv", nrows=5, usecols=[1,2,3])
print(df1)

   Pulse  Maxpulse  Calories
0    110       130     409.1
1    117       145     479.0
2    103       135     340.0
3    109       175     282.4
4    117       148     406.0

In [7]:
import pandas as pd
df1 = pd.read_csv("E:\\Download\\data.csv", skiprows=[0,1])
print(df1)

     60  117  145  479.0
0    60  103  135  340.0
1    45  109  175  282.4
2    45  117  148  406.0
3    60  102  127  300.0
4    60  110  136  374.0
..   ..  ...  ...    ...
162  60  105  140  290.8
163  60  110  145  300.0
164  60  115  145  310.2
165  75  120  150  320.4
166  75  125  150  330.4

[167 rows x 4 columns]

In [32]:
import pandas as pd
df1 = pd.read_csv("E:\\Download\\data.csv", index_col="Pulse")
df1

       Duration  Maxpulse  Calories
Pulse
110          60       130     409.1
117          60       145     479.0
103          60       135     340.0
109          45       175     282.4
117          45       148     406.0
...         ...       ...       ...
105          60       140     290.8
110          60       145     300.0
115          60       145     310.2
120          75       150     320.4
125          75       150     330.4

[169 rows x 3 columns]

In [13]:
df1 = pd.read_csv("E:\\Download\\data.csv", header = 4)
df1

     45  109  175  282.4
0    45  117  148  406.0
1    60  102  127  300.0
2    60  110  136  374.0
3    45  104  134  253.3
4    30  109  133  195.1
..   ..  ...  ...    ...
160  60  105  140  290.8
161  60  110  145  300.0
162  60  115  145  310.2
163  75  120  150  320.4
164  75  125  150  330.4

[165 rows x 4 columns]

In [44]:
import pandas as pd
df2 = pd.read_csv("E:\\Download\\data.csv", names =["col1", "col2", "col3", "col4"])
df2

         col1   col2      col3      col4
0    Duration  Pulse  Maxpulse  Calories
1          60    110       130     409.1
2          60    117       145       479
3          60    103       135       340
4          45    109       175     282.4
..        ...    ...       ...       ...
165        60    105       140     290.8
166        60    110       145       300
167        60    115       145     310.2
168        75    120       150     320.4
169        75    125       150     330.4

[170 rows x 4 columns]

Decimal Values: The values in the "Calories" column (like 409.1, 479, and 282.4) cannot be converted to integers directly because integers cannot represent decimal numbers.

In [56]:
df2 = pd.read_csv("E:\\Download\\data.csv", dtype={"Duration":"float"}) #convert int to float
df2

     Duration  Pulse  Maxpulse  Calories
0        60.0    110       130     409.1
1        60.0    117       145     479.0
2        60.0    103       135     340.0
3        45.0    109       175     282.4
4        45.0    117       148     406.0
..        ...    ...       ...       ...
164      60.0    105       140     290.8
165      60.0    110       145     300.0
166      60.0    115       145     310.2
167      75.0    120       150     320.4
168      75.0    125       150     330.4

[169 rows x 4 columns]

If you have a DataFrame with multiple columns but want to focus on dropping rows only based on NaNs in specific columns, then you would use subset. This allows you to ignore NaNs in other columns.

Using df2 makes the code more efficient and straightforward, while a new variable could unnecessarily complicate things.

In [71]:
df2 = pd.read_csv("E:\\Download\\data.csv")
df2 = df2.dropna(subset=["Calories"])
df2["Calories"] = df2["Calories"].astype(int)
print(df2)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130       409
1          60    117       145       479
2          60    103       135       340
3          45    109       175       282
4          45    117       148       406
..        ...    ...       ...       ...
164        60    105       140       290
165        60    110       145       300
166        60    115       145       310
167        75    120       150       320
168        75    125       150       330

[164 rows x 4 columns]